* {
  box-sizing: border-box;
}

body {
  // background: green;
  width: 100%;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  padding: 1em 0;
}

.container {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  .banner {
    margin: 0;
    // background: pink;
    text-align: center;
    padding: 2em;
    font-weight: 400;
  }

  table {
    background: white;
    margin: 0 auto;
    table-layout: auto;
    width: 90%;
    max-width: 1168px;
    font-size: .9em;

    border-spacing: 0 .2em;
    // border-collapse: collapse;
    thead {
      text-align: center;
      font-weight: 500;
      .category {
        padding: .5em;
        &:hover {
          cursor: pointer;
        }
      }
    } // end .thead

    tbody {
      tr {
        font-weight: 300;
        margin-bottom: 5em;
        &:nth-child(even) {
          background-color: #EDEAE9;
        }
      }
      .numberCol,
      .recentCol,
      .alltimeCol {
        text-align: center;
      }
      .camperCol {
        font-weight: 400;
        a {
          color: black;
        }
      }
    }

  }
}

.userAvatar {
  width: 50px;
  vertical-align: middle;
}
.userAvatar,
.username {
  margin: .25em;
}

.userLink {
  width: 100%;
  height: 100%;
}

#loading {
  text-align: center;
}
